h1{
  font-style: italic;
}

.countries{
  padding-top: 3px;
  font-size: 15px;
}


button {
  border-radius: 8px;
  border: 1px solid #000;
  padding: 0.3em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: green;
}
